%h1{:align => 'center'}
  Cosmetecor scientific background. Proton model of earthquake focus:
%h2{:align => 'center'}
  -(1..6).each do |i|
    %p
      %a{:href => "/images/about_sensors_#{i}.png"} 
        %img{:src => "/images/about_sensors_#{i}.png", :border => 0, :width  => 1200}